@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    /* Colors */
    --bg-color:#5354b0;
    --text-color: #fff;

    /* Font family */
    --font-family: 'Poppins', sans-serif;

    /* Font weight */
    --bold: 700;
    --semi-bold:600;
    --regular: 400;
    --medium: 500;

    /* Font-size */
    --icon-size: 100px;
    --title-size: 30px;
    --text-size: 25px;
    --button-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}